.everpress-admin-setup {
	padding-top: 32px;
}
.everpress-admin-setup h1 {
	font-size: 2.8em;
	line-height: 1.2;
	margin: 0;
	padding-top: 0;
	text-align: center;
}

.everpress-admin-setup .everpress-admin-setup-form {
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
	padding: 40px;
	width: 540px;
	max-width: 100%;
	margin: 40px auto;
}

.everpress-admin-setup .everpress-admin-setup-form p {
	margin-top: 0;
	margin-bottom: 30px;
	color: #333333;
	font-size: 14px;
	line-height: 24px;
}
