.everpress-admin-footer-links {
	margin-top: 40px;
}
.everpress-admin-footer-links a {
	color: #72777c;
	text-decoration: none;
}
.everpress-admin-footer-links a:hover {
	text-decoration: underline;
}
