.everpress-admin-welcome {
	text-align: center;
	padding-top: 32px;
}
.everpress-admin-welcome h5 {
	text-transform: uppercase;
	margin-bottom: 0;
}
.everpress-admin-welcome h1 {
	font-size: 3.8em;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	padding-top: 0;
}
